body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* Header section */

header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  margin: 0 0 5px 0;
  padding: 5px 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: black;
}

nav {
  margin-right: 10px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}

nav a {
    color: white;
}

.logo {
  margin-left: 10px;
  display: flex;
}

.logo img {
  height: 50px;
}

/* Main section */
main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 69px;
}

.banner {
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.banner h2, .banner h4 {
  background-color: black;
  margin: 0 0;
  padding: 10px 0;
}

/*Tea-of-the-month section*/
.products {
  margin: 50px;
}

.product-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

caption {
  display: block;
  font-weight: bold;
}

/*Locations section*/
.locations {
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 75px;
}

.location-container {
  display: flex;
  justify-content: center;
}

.location {
  width: 300px;
  height: 300px;
  margin: 0 20px;
  opacity: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.locations h2 {
  margin-bottom: 15px;
  margin-top: 0;

}
/*Contact section*/
.contact {
  height: 200px;
}

.contact h5 {
  font-style: normal;
}

/*Footer section */
.copyright {
  width: 100%;
  text-align: left;
  margin: 20px;
  text-indent: 20px;
}
